<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MNIST</title>
    <link rel="stylesheet" href="/static/bulma.min.css">
</head>
<body class="m-0 p-0">
    <section class="hero is-link is-fullheight">
        <div class="hero-body columns is-centered">
            <div class="column is-narrow">
                <h1 class="title mb-1">Digit Recognition</h1>
                <p class="mb-1">Please, draw in center of square:</p>

                <div class="box p-0">
                    <canvas id="canvas" width="280" height="280"></canvas>
                </div>

                <div class="columns">
                    <div class="column">
                        <button id="submit" class="button is-success is-fullwidth">Predict</button>
                    </div>

                    <div class="column">
                        <button id="clear" class="button is-danger is-fullwidth">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../static/script.js"></script>
</body>
</html>